{% extends 'blog/root.html' %};
{% block content %}
<article class="media content-section">
  <img src="{{object.author.profile.profile_pic.url}}" class="rounded-circle article-img">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.author }}</a>
        <small class="text-muted">{{ object.publish_date }}</small>
      </div>
      <h2>{{ post.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
    </div>
</article>
{% endblock %}
